build-config.yml
build/
dist/
dist-secure/
src/*.egg-info/
src/fastsite/__pycache__/
src/fastsite/connectors/__pycache__/
src/fastsite/_compiled_config.pyx
src/fastsite/_compiled_config*.c
src/fastsite/_compiled_config*.so
src/fastsite/_compiled_config*.pyd
src/fastsite/*.so
src/fastsite/*.pyd
src/fastsite/*.c
src/fastsite/connectors/*.so
src/fastsite/connectors/*.pyd
src/fastsite/connectors/*.c
